<div class="col my-3">
    <h3 class="mb-0">v1.0.3</h3> 
    <span><%= lang.versions.date_format
        .replace("%d", "4")
        .replace("%s", lang.versions.num_suffixes[4])
        .replace("%m", lang.versions.months[4])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Fixed fatal randomiser crash when trying to sort equipment with a vanilla item shuffle</li>
        <li>Fixed equipment, mimic and summon tablet sorting not working correctly in some locations</li>
        <li>Fixed logic issue where the hidden item in Moapa's basement did not require the Shaman's Rod</li>
    </ul>
</div>

<hr>