<div class="col my-3">
    <h3 class="mb-0">v1.0.2</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "25")
        .replace("%s", lang.versions.num_suffixes[5])
        .replace("%m", lang.versions.months[3])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Fixed Djinn scaling being incorrect, causing strange difficulty spikes</li>
    </ul>
</div>

<hr>