<div class="col my-3">
    <h3 class="mb-0">v1.0.4</h3> 
    <span><%= lang.versions.date_format
        .replace("%d", "8")
        .replace("%s", lang.versions.num_suffixes[8])
        .replace("%m", lang.versions.months[4])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Added more variety to what empty chests can get changed into when items are displayed outside chests (Herbs, Elixirs, etc. instead of everything being Game Tickets)</li>
        <li>In addition, Mimics will now get changed to whatever their loot drop is</li>
        <li>Changed the spoiler log to show if an item was originally a Mimic or an empty chest</li>
        <li>Changed how critical/unleash modifiers are displayed in the item details window so it shows the exact boost</li>
        <li>Fixed Mimics and empty chests appearing in certain locations where they would cause issues</li>
        <li>Fixed attack modifiers from secondary armour effects not being shuffled</li>
        <li>Fixed movesets for some Djinni fights when using Djinni scaling, early-game fights should be better now</li>
        <li>Fixed the Patch ROM button not working in Firefox</li>
    </ul>
</div>

<hr>