<div class="col my-3">
    <h3 class="mb-0">v1.0.6</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "24")
        .replace("%s", lang.versions.num_suffixes[4])
        .replace("%m", lang.versions.months[4])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Fixed a logic issue with basic skips enabled in Shrine of the Sea God</li>
        <li>Fixed defense boosts on rings, boots and shirts not being shuffled</li>
    </ul>
</div>

<hr>