<div class="col my-3">
    <h3 class="mb-0">v1.1.2</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "3")
        .replace("%s", lang.versions.num_suffixes[3])
        .replace("%m", lang.versions.months[11])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Added the Islet Cave OOB glitch to the Easy OOB Skips setting</li>
        <li>Added a setting for cheaper or fixed sanctum revival costs</li>
        <li>Added a setting for shuffling weapon attack and armour defense</li>
        <li>Added a setting for disabling curses on equipment</li>
        <li>Fixed the Vanilla boat setting being incorrect</li>
        <li>Fixed hint NPCs not liking the number 6 and freaking out about it</li>
        <li>Fixed certain text lines being loaded incorrectly by the server and glitching out</li>
    </ul>
</div>
<hr>