<div class="col my-3">
    <h3 class="mb-0">v1.1.0</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "7")
        .replace("%s", lang.versions.num_suffixes[7])
        .replace("%m", lang.versions.months[10])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Added advanced equipment shuffling (adds shop artifacts and forge results into the pool)</li>
        <li>Added settings for enemy elemental resistance shuffling and randomisation</li>
        <li>Added a changelog page to the website (this one!)</li>
        <li>Expanded the spoiler log with character stats, class stats, and shop/forge items</li>
        <li>Reworked the randomisation web page so settings are behind tabs and more compact</li>
        <li>Reverted previous randomiser changes to Retreat points, meaning Retreat from interior dungeons works like vanilla again</li>
        <li>Fixed djinn distribution not capping out at 9 Djinn per character</li>
        <li>Fixed a minor logic issue in Gaia Rock</li>
    </ul>
</div>