<div class="col my-3">
    <h3 class="mb-0">v1.1.1</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "13")
        .replace("%s", lang.versions.num_suffixes[3])
        .replace("%m", lang.versions.months[10])
        .replace("%y", "2021")   
    %></span>
    <ul class="mt-3">
        <li>Added the option to create race seeds, which have permalinks and hidden spoiler logs</li>
        <li>Added the ability to set post-randomisation options and moved auto-run there</li>
        <li>Changed summon cost randomisation to ensure that all 1-cost summons have a unique element</li>
        <li>Fixed the Djinn option not appearing in combat under certain circumstances</li>
        <li>Fixed a concurrency bug that sometimes caused incomplete spoiler logs to be sent</li>
        <li>Updated the website with some minor changes to improve our search engine score</li>
    </ul>
</div>
<hr>