<div class="col my-3">
    <h3 class="mb-0">v1.1.3</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "17")
        .replace("%s", lang.versions.num_suffixes[7])
        .replace("%m", lang.versions.months[4])
        .replace("%y", "2022")   
    %></span>
    <ul class="mt-3">
        <li>Added a setting for switching off the previously innate Avoid changes</li>
        <li>Added a setting for enabling Hard Mode without a cleared save</li>
        <li>Added a setting that halves the battle encounter rate</li>
        <li>Updated the settings for the Chaos prefix (no longer requires glitches)</li>
        <li>Fixed spoiler log to make vanilla empty chests show as empty if an item has been injected there by the randomiser</li>
        <li>Removed the password input prompt to prevent password-related issues</li>
        <li>Due to passwords being removed, the golden items are now included in the unobtainable items setting</li>
    </ul>
</div>
<hr>