<div class="col my-3">
    <h3 class="mb-0">v1.2.4</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "19")
        .replace("%s", lang.versions.num_suffixes[9])
        .replace("%m", lang.versions.months[5])
        .replace("%y", "2024")
    %></span>
    <ul class="mt-3">
        <li>Added a setting to start with the Wings of Anemos on the Lemurian Ship</li>
        <li>Updated the hint system to be more helpful:</li>
        <ul>
            <li>Changed Corn Seller's single location hint to Isaac's party instead of Atteka Cavern to account for Wings start</li>
            <li>Changed the chances for the hint types from 50%/25%/25% to 60%/20%/20%</li>
            <li>Changed the sphere check for item hints to reduce the chance of redundant hints</li>
            <li>Added sphere checks to the other hint types to reduce redundancy there as well</li>
            <li>Decreased the chance of item hints picking a summon</li>
            <li>Decreased the chance of item hints picking the same item twice</li>
        </ul>
        <li>Changed Dehkan Plateau and Yampi Desert to be registered on the world map regardless of entrance used</li>
        <li>Fixed a glitch where giving the Center Prong to Obaba would always make the Trident item appear on room reload</li>
    </ul>
</div>
<hr>