<div class="col my-3">
    <h3 class="mb-0">v1.2.7</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "26")
        .replace("%s", lang.versions.num_suffixes[6])
        .replace("%m", lang.versions.months[9])
        .replace("%y", "2024")
    %></span>
    <ul class="mt-3">
        <li>Added character shuffle</li>
        <li>Changed the Daila sanctum item to no longer be scaled up</li>
        <li>Updated the Easier Bosses setting:</li>
        <ul>
            <li>Typhoon Blow and Watery Grave power reduced by 10</li>
            <li>Sentinel's HP regen reduced from 200 to 100</li>
        </ul>
        <li>Fixed the Echo tutorial being able to permanently delete party members</li>
        <li>Fixed Daedalus' follow-up attack element not matching the initial attack</li>
        <li>Fixed some unintended tracks being included in the music shuffle</li>
    </ul>
</div>

<hr>