<div class="col my-3">
    <h3 class="mb-0">v1.2.8</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "3")
        .replace("%s", lang.versions.num_suffixes[3])
        .replace("%m", lang.versions.months[10])
        .replace("%y", "2024")
    %></span>
    <ul class="mt-3">
        <li>Added a missing hint for when an item is held by a shuffled character</li>
        <li>Updated Djinn scaling and renamed Djinn enemies to roughly indicate difficulty</li>
        <li>Fixed the Idejima character shuffle item being invisible with certain settings</li>
        <li>Fixed vanilla boat logic not accounting for Piers being needed in character shuffle</li>
        <li>Fixed some Kibombo cutscenes not being disabled in character shuffle</li>
        <li>Fixed Atteka Inlet and Contigo buildings staying locked in character shuffle</li>
        <li>Fixed a Djinn scaling bug where not all Jupiter Djinn were being counted</li>
    </ul>
</div>

<hr>