<div class="col my-3">
    <h3 class="mb-0">v1.2.6</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "22")
        .replace("%s", lang.versions.num_suffixes[2])
        .replace("%m", lang.versions.months[8])
        .replace("%y", "2024")
    %></span>
    <ul class="mt-3">
        <li>Added the ability to save and share custom presets on the website</li>
        <ul>
            <li>Consequently, removed most of the old default presets</li>
        </ul>
        <li>Added a setting to randomise the number of Djinn needed to access Anemos Inner Sanctum</li>
        <li>Added a setting to have the Anemos Inner Sanctum door always be open</li>
        <li>Added a setting to prevent item checks directly locked by superbosses from being key items</li>
        <li>Added a setting to force item checks directly locked by bosses to be key items</li>
        <li>Added a teleport point to Shaman Village Cave</li>
        <li>Moved the feature of Teleport being able to target all locations to a separate setting (on by default)</li>
        <li>Changed the item under the Loho lift boulder to no longer count as a hidden item</li>
        <li>Fixed the item in the Aqua Hydra room becoming invisible after defeating the boss</li>
        <li>Fixed the swamp sinking speed being incorrect in Taopo Swamp when using auto-run</li>
        <li>Fixed cutscene skip not affecting the cutscene after being swept out of Sea of Time</li>
        <li>Fixed the Atteka Cavern teleport point not placing the boat nearby</li>
    </ul>
</div>

<hr>