<div class="col my-3">
    <h3 class="mb-0">v1.2.11</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "23")
        .replace("%s", lang.versions.num_suffixes[3])
        .replace("%m", lang.versions.months[3])
        .replace("%y", "2025")
    %></span>
    <div class="mt-3">
        <ul>
            <li>Added a setting for opening the shortcuts at the bottom of Magma Rock interior</li>
            <li>Added a setting for unlocking upper Mars Lighthouse just by having the Mars Star</li>
            <li>Changed the "Logic" settings on the website to be in tabs to better fit the newly added settings</li>
            <li>Updated Shaman Village to be in logic with Western Sea access + Lift + Frost</li>
            <li>Fixed the yes/no prompt for the Naribwe fortune teller being swapped</li>
            <li>(May 1st) Fixed a bug in v1.2.11 that caused an error when shuffling forge results</li>
        </ul>
    </div>
</div>

<hr>