<div class="col my-3">
    <h3 class="mb-0">v1.2.0</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "25")
        .replace("%s", lang.versions.num_suffixes[5])
        .replace("%m", lang.versions.months[0])
        .replace("%y", "2023")   
    %></span>
    <div class="mt-3">
        <b>Randomiser changes</b>
        <ul>
            <li>Added major/minor item split to the item shuffle options, see Settings Info for more information</li>
            <li>Added help NPCs to Idejima that explain randomiser changes and settings</li>
            <li>Added an NPC to the Gabomba puzzle to check the solution, and removed the automatic timer</li>
            <li>Changed Sunshine's forge so you don't need to leave Yallam to get the item</li>
            <li>Changed half-buried items to no longer count as hidden (this affects Taopo, Yampi Desert Cave, Loho and Prox)</li>
            <li>Changed randomisation parameters:</li>
            <ul>
                <li>The randomiser now favours deeper spheres a bit more, which encourages following logic chains</li>
                <li>Key items are less likely to be found in empty chests so Treasure Isle is less OP</li>
                <li>Certain Psynergy are no longer forced to be found early when starting with the ship, for more varied early-game logic</li>
            </ul>
            <li>Improved the cutscene skip setting so most cutscenes are actually skipped instead of sped up</li>                                
            <li>Removed the Update option from the main menu to prevent password issues</li>
        </ul>
    </div>
    <div>
        <b>Website changes</b>
        <ul>
            <li>Added a dark theme to the website (which is a work in progress until I'm happy with the colours)</li>
            <li>Added different languages to the website: German, French and Spanish</li>
            <li>Renamed the setting that removes utility Psynergy from classes to avoid confusion</li>
            <li>Fixed bug when fetching the spoiler log with a ROM already selected during randomisation</li>
            <li>Various minor text changes</li>
        </ul>
    </div>
    <b>Note:</b> With this update, randomisation times have increased due to map code compression. Generating a seed may take up to 15 seconds depending on settings and server load.
</div>