<div class="col my-3">
    <h3 class="mb-0">v1.2.11</h3>
    <span>(unreleased)</span>
    <div class="mt-3">
        <ul>
            <li>Added a setting for opening the shortcuts at the bottom of Magma Rock interior</li>
            <li>Added a setting for unlocking upper Mars Lighthouse just by having the Mars Star</li>
            <li>Added a page with curated permalinks to the website</li>
            <li>Changed the "Logic" settings to be in tabs to better fit the newly added settings</li>
            <li>Updated Shaman Village to be in logic with Western Sea access + Lift + Frost</li>
            <li>Fixed the yes/no prompt for the Naribwe fortune teller being swapped</li>
        </ul>
    </div>
</div>

<hr>