<div class="col my-3">
    <h3 class="mb-0">v1.2.10</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "4")
        .replace("%s", lang.versions.num_suffixes[4])
        .replace("%m", lang.versions.months[0])
        .replace("%y", "2025")
    %></span>
    <div class="mt-3">
        <b>Randomiser changes:</b>
        <ul>
            <li>Updated Mimic scaling to limit Mimic difficulty based on sphere depth</li>
            <ul>
                <li>This prevents end-game Mimics from appearing early on if all Mimics are in low spheres</li>
            </ul>
            <li>Changed Trial Road to prevent the summit doors from closing during the race</li>
            <li>Changed Trial Road to allow usage of the forfeit tiles even after defeating Moapa</li>
            <li>Fixed the items in Trial Road becoming invisible when Mimic disguises are enabled</li>
            <li>Fixed certain versions of the game softlocking in end-game areas (e.g. Anemos Sanctum)</li>
        </ul>
    </div>

    <div class="mt-3">
        <b>Archipelago changes:</b>
        <ul>
            <li>Fixed the received item counter overflowing after 256 items</li>
        </ul>
    </div>
</div>

<hr>