<div class="col my-3">
    <h3 class="mb-0">v1.2.9</h3>
    <span><%= lang.versions.date_format
        .replace("%d", "24")
        .replace("%s", lang.versions.num_suffixes[4])
        .replace("%m", lang.versions.months[10])
        .replace("%y", "2024")
    %></span>
    <ul class="mt-3">
        <li>Added <a href="https://archipelago.gg">Archipelago Multiworld</a> support (coming soon!)</li>
        <li>Added a setting to remove Mimics from the item pool</li>
        <ul>
            <li>Old presets will automatically have this enabled if they have "Show items outside chest" on</li>
        </ul>
        <li>Changed the "Show items outside chest" setting to no longer remove Mimics and disguise them instead</li>
        <li>Updated the settings for glitches being in logic</li>
        <li>Updated the randomiser logic:</li>
        <ul>
            <li>Added the new glitch requirements to all (known to me) applicable locations</li>
            <li>Changed the logic to now explicitly require Hover for all checks that require the Wings of Anemos</li>
        </ul>
        <li>Updated the Easier Bosses setting:</li>
        <ul>
            <li>Sentinel's HP increased from 6236 to 6836</li>
            <li>Sentinel's HP regen reduced from 100 to 0</li>
            <li>Fixed Sentinel's HP regen not being reduced with Easier Bosses enabled</li>
        </ul>
        <li>Fixed starting with a healing Psynergy or Revive doing nothing in character shuffle</li>
        <li>Fixed Daedalus' follow-up attack element not matching the initial attack</li>
    </ul>
</div>

<hr>