@font-face {
    font-family: Taranis;
    src: url(font/Taranis.ttf);
}

:root {
    --bs-primary: #f1ce4e !important;

    --gs2r-bg: #f3dba4;
    --gs2r-button: #f4d563;
    --gs2r-button-border: #efc739;
    --gs2r-button-highlight: #e1c256; 
    --gs2r-card-bg: #faf4d7;
    --gs2r-card-border: #95824d38;
    --gs2r-card-header1: #fad860;
    --gs2r-card-header2: #fae18a;
    --gs2r-checkbox-highlight: #f1cd4a;
    --gs2r-link: #967a05;
    --gs2r-link-nav: #6e5a05;
    --gs2r-text: #4d3002;
    --gs2r-tooltip: #4d300291;

    --gs2r-btn-outline-text: #977601;
    --gs2r-inp-group-text: #f1e6ba;
    --gs2r-inp-border: #d3cbab;
    --gs2r-inp-bg: #fff;
}

:root.dark {
    --bs-primary: #f1ce4e !important;

    --gs2r-bg: #2e2207;
    --gs2r-button: #907922;
    --gs2r-button-border: #9c8635;
    --gs2r-button-highlight: #ab8b17; 
    --gs2r-card-bg: #49390b;
    --gs2r-card-bg-highlight: #614d13;
    --gs2r-card-bg-selected: #7c6728;
    --gs2r-card-border: #b2964959;
    --gs2r-card-header1: #745e0f;
    --gs2r-card-header2: #8f7720;
    --gs2r-checkbox-highlight: #c4a73b;
    --gs2r-link: #e2bb12;
    --gs2r-link-nav: #f4e5bc;
    --gs2r-text: #f4e5bc;
    --gs2r-tooltip: #ecc78c91;

    --gs2r-btn-outline-text: #efba00;
    --gs2r-inp-group-text: #766934;
    --gs2r-inp-border: #6f6026;
    --gs2r-inp-bg: #2e2517;
}

.dark .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23b49a60' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.dark .dropdown-menu {
    background-color: var(--gs2r-card-bg-highlight) !important;
}

.dark .nav-tabs, .dark .nav-tabs .nav-link.active, .dark .nav-tabs .nav-link:hover {
    border-color: var(--gs2r-card-border) !important;
}

.dark .dropdown-item:focus, .dark .dropdown-item:hover, .dark .nav-tabs .nav-link.active {
    background-color: var(--gs2r-card-bg-selected) !important;
}

a {
    color: var(--gs2r-link) !important;
}

b {
    font-weight: 600 !important;
}

h1 {
    font-size: calc(1.375rem + .3vw) !important;
}

h2 {
    font-size: calc(1.275rem + .3vw) !important;
}

h3 {
    font-size: 1.25rem !important;
}

.bi-question-circle-fill:before {
    font-size: 0.75rem !important;
    vertical-align: 0.25rem !important;
    color: var(--gs2r-tooltip) !important;
}

.logo {
    min-width: 300px;
    width: 40%;
}

.logo-small {
    width: 200px;
}

.nav-logo {
    width: 100px;
}

.nav-link {
    color: var(--gs2r-link-nav) !important;
}

body {
    background-color: var(--gs2r-bg) !important;
    color: var(--gs2r-text) !important;
}

.card {
    border: .5px solid var(--gs2r-card-border) !important;
    background-color: var(--gs2r-card-border) !important;
}

.card-body {
    background-color: var(--gs2r-card-bg) !important;
}

.card-header {
    background-color: var(--gs2r-card-header1) !important;
}

.card-body .card-header {
    background-color: var(--gs2r-card-header2) !important;
}

.input-group-text {
    background-color: var(--gs2r-inp-group-text) !important;
    border-color: var(--gs2r-inp-border) !important;
    color: var(--gs2r-text) !important;
}

.form-select, .form-control, .form-check-input {
    border-color: var(--gs2r-inp-border) !important;
    background-color: var(--gs2r-inp-bg) !important;
    color: var(--gs2r-text) !important;
}

.form-select:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 .25rem #e9b02e40 !important;
    border-color: var(--gs2r-inp-border)!important;
}

.form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23d3cbab'/%3e%3c/svg%3e") !important;
}

.btn-primary, .btn-primary:focus, .btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: var(--gs2r-button) !important;
    border-color: var(--gs2r-button-border) !important;
    color: var(--gs2r-text) !important;
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--gs2r-button-highlight) !important;
    border-color: var(--gs2r-button-highlight) !important;
    color: var(--gs2r-text) !important;
}

.btn-outline-primary {
    border-color: #cea203 !important;
    color: var(--gs2r-btn-outline-text) !important;
}

.btn-outline-primary:active:focus, .btn-primary:active:focus, .btn-outline-primary:focus, .btn-primary:focus {
    box-shadow: 0 0 0 .25rem #e9b02e40 !important;
}

option {
    color: var(--gs2r-text) !important;
}

.form-check-input:checked {
    background-color: var(--gs2r-checkbox-highlight) !important;
    border-color: var(--gs2r-checkbox-highlight) !important;
}

.spinner-border-sm {
    margin-bottom: 2px;
}

table {
    color: var(--gs2r-text) !important;
    border-color: var(--gs2r-card-border) !important;

    --bs-table-striped-color: var(--gs2r-text) !important;
    --bs-table-active-color: var(--gs2r-text) !important;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.03) !important;
    --bs-table-active-bg: rgba(0, 0, 0, 0.08) !important;
}

.table-active {
    --bs-table-accent-bg: var(--bs-table-active-bg) !important;
}

.dropdown-item {
    color: var(--gs2r-link-nav) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--gs2r-checkbox-highlight) !important;
}

.navbar {
    background-color: var(--gs2r-card-bg) !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.title-text {
    font-size: larger;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.flag {
    width: 20px;
    margin-bottom: 3px;
    margin-right: 2px;
}
