<div class="modal fade" id="modal-preset-export" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><%= lang.presets.modals.export_title %></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div>
                    <input type="text" name="ro-preset-export" id="ro-preset-export" class="form-control" readonly />
                </div>
            </div>

            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-primary me-2" id="btn-preset-copy"><%= lang.presets.modals.export_copy %></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= lang.presets.modals.close %></button>
                </div>
            </div>
        </div>
    </div>
</div>