<div class="tab-pane fade" id="tabdiv-misc">
    <div class="row">
        <div class="col-12 col-lg-6">
            <%- include('../setting_switch', { id: 'inp-music-shuffle', label: lang.settings.music_shuffle }) %>
            <%- include('../setting_switch', { id: 'inp-shuffle-characters', label: lang.settings.character_shuffle}) %>
            <%- include('../setting_switch', { id: 'inp-remove-mimics', label: lang.settings.remove_mimics, margin: 3 }) %>
        </div>
    </div>
</div>